<section>
    <div class="row"><div class="col-md-12"><h3>Transaction Information</h3></div></div>
    <div class="row">
        <div class="col-md-12">						
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr><td class="col-md-4"><b>Reference #</b></td><td class="col-md-8">{{refNum}}</td></tr>
                    <tr class="warning"><td class="col-md-4"><b>Status</b></td><td class="col-md-8">{{status}}</td></tr>
                    <tr><td class="col-md-4"><b>Card Holder</b></td><td class="col-md-8">{{cardHolder}}</td></tr>
                    <tr><td class="col-md-4"><b>Card Number</b></td><td class="col-md-8">XXXXXXXXXXXX{{cardNumber}}</td></tr>
                    <tr><td class="col-md-4"><b>Amount</b></td><td class="col-md-8">{{amount}}</td></tr>
                    <tr><td class="col-md-4"><b>Authorization</b></td><td class="col-md-8">{{authorization}}</td></tr>
                    <tr><td class="col-md-4"><b>AVS Result</b></td><td class="col-md-8">{{avsResult}}</td></tr>
                    <tr><td class="col-md-4"><b>CVV2 Result</b></td><td class="col-md-8">{{cvv2Result}}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</section>