<html>
    <body>
        <header>
            <h2>Miami Limo Coach Reservation</h2>
        </header>
        <section>
            <header><h3>Reservation</h3></header>
            <div>
                <% @json["sections"].each do |section| %>
                    <% section["fields"].each do |field| %>
                        <b><%= field["label"] %>:</b> <%= @reservation[field["id"]] %><br/>
                    <% end %>
                <% end %>
            </div>
        </section>
        <% if !@transaction.nil? %>
        <section>
            <header><h3>Payment</h3></header>
            <div>
                <b style="color:green">Payment was processed via UsaEpay Secure Payment system</b><br/>
                <b>Status:</b> <%= @transaction[:status] %><br/>
                <b>Amount:</b> <%= @transaction[:amount] %><br/>
                <b>Card Holder:</b> <%= @transaction[:cardHolder] %><br/>
                <b>Card Number:</b> XXXXXXXXXXXX<%= @transaction[:cardNumber] %><br/>
            </div>
        </section>
        <% end %>
    </body>
</html>